body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color: #1E293B; /* Fondo más oscuro */
    color: #d4d4d4; /* Color de texto gris claro */
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #3a3a3a; /* Borde gris oscuro */
    margin-bottom: 4px;
    background-color: #334155; /* Fondo gris oscuro */
    color: #d4d4d4; /* Color de texto gris claro */
}

button {
    background: #475569; /* Fondo gris oscuro */
    color: #d4d4d4; /* Color de texto gris claro */
    padding: 10px 20px;
    border: 1px solid #3a3a3a; /* Borde a juego con el fondo */
    font-weight: bold;
    cursor: pointer; /* Añade cursor de puntero para mejor UX */
}

button:hover {
    background: #505050; /* Efecto hover más claro */
}

#delete-btn {
    background: #d9534f; /* Color rojo suave para el botón de eliminar */
    color: #ffffff; /* Color de texto blanco */
    border: 1px solid #d9534f; /* Borde a juego con el fondo */
}

#delete-btn:hover {
    background: #c9302c; /* Efecto hover más oscuro */
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #304bf5; /* Color de enlace azul claro */
    text-decoration: none; /* Elimina subrayado por defecto */
}

a:hover {
    text-decoration: underline; /* Añade subrayado al pasar el ratón */
}